.container-item-tendency{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1250px;
    flex-wrap: wrap;
    height: auto;
    gap: 15px;
}

.container-section-tendency h2{
    text-align: center;
    font-size: 1.50rem;
    font-family: var(--dosis-font);
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 72px;
}

.item-tendency{
    width: 300px;
    height: 437px;
    background-color: var(--fourth-color) ;
    margin-bottom: 75px;
}

.item-tendency img{
    width: 100%;
    height: 300px;
}

.info-top-item-tendency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.info-top-item-tendency h3{
    font-size: 1.25rem;
    font-family: var(--dosis-font);
    color: var(--text-color);
    font-weight: 600;
}

.info-top-item-tendency img{
    width: 30px;
    height: 30px;
}

.info-bottom-item-tendency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.description-item-info-tendency{
    width: 200px;
    max-width: 200px;
    font-size: 1rem;
    font-family: var(--dosis-font);
    font-weight: 400;
    color: var(--text-color);
}

.price-item-info-tendency{
    font-size: 1rem ;
    font-family: var(--dosis-font);
    font-weight: 6OO;
    color: var(--text-color);
}

.info-item-tendency{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 23px;
}

@media screen and (max-width:630px) {
    .item-tendency{
        margin-bottom: 40px;
    }
}