.container-nav{
    background-color: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav-links{
    width: 300px;
    max-width: 300px;
}

.links{
    font-family: var(--dosis-font);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem ;
    color: var(--text-color);
}

.nav-action-account{
    width: 160px;
}

.nav-action-account .action-account:nth-child(1){
    width: 50px;
}

.container-icon-menu{
   font-size: 28px;
   display: none;
   cursor: pointer;
}

@media screen and (max-width:900px) {
    .nav-links{
        position: absolute;
        flex-direction: column;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        text-align: center;
    }

    .nav-action-account{
        position: absolute;
        left: 50%;
        top: 400px;
        transform: translateX(-50%);
        text-align: center;
    }

    .nav-action-account .action-account:nth-child(1){
        width: auto;
    }

    .links{
        line-height: 50px;
    }

    .container-icon-menu{
        display: block;
    }

    nav{
        margin: 0 20px;
    }

    .container-logo img{
        width: 200px;
    }

    .nav-open{
        padding-bottom: 500px;
        justify-content: space-between;
        align-items: center;
    }

    .list-none{
        display: none;
    }
}

@media screen and (max-width:650px) {
    .container-logo img{
        width: 150px;
    }
}