.container-section-gallery{
    margin-bottom: 80px;
    position: relative;
}

.text-gallery{
font-size: 1.25rem;
font-family: var(--montserrat-font);
position: absolute;
left: 50%;
top: 50%;
transform: translateY(-50%);
transform: translateX(-50%);
z-index: 999;
font-weight: 500;
background-color: rgba(209, 179, 159, 0.5);
padding: 30px;
}


.container-section-gallery h2{
    font-size: 1.5rem;
    font-family: var(--dosis-font);
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.container-section-gallery p {
    font-family: var(--montserrat-font);
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.container-gallery {
  width: 100%;
  max-width: 1250px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 17px;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  height: 200px;
  flex-grow: 1;
  cursor: pointer;
}

.grid:nth-child(1) {
  width: 300px;
}

.grid:nth-child(2) {
  width: 195px;
}

.grid:nth-child(3) {
  width: 400px;
}

.grid:nth-child(4) {
  width: 300px;
}

.grid:nth-child(5) {
  width: 400px;
}

.grid:nth-child(6) {
  width: 300px;
}

.grid:nth-child(7) {
  width: 300px;
}

.grid:nth-child(8) {
  width: 195px;
}

.grid:nth-child(9) {
  width: 300px;
}

.grid:nth-child(10) {
  width: 400px;
}

.grid:nth-child(11) {
  width: 195px;
}

.grid:nth-child(12) {
  width: 300px;
}


@media screen and (max-width:1280px) {
  .container-gallery{
    margin-left: 10px;
    margin-right: 20px;
  }
}